{% extends readmoreTempl/readmore.html %}
{% block content %}


    <h2 class="titleofbook">IT ENDS WITH US</h2>
    <section>
        <div class="book-controls">

            <!-- <img id="book-image" src="\images\book1.jpg" alt="Book Image"> -->
            <iframe src="BOOKpdfs\ITENDSWITHUS.pdf" frameborder="0">
            </iframe>
            <div class="book-description">
                <h2>Book Description</h2>
                <br>
                <p>“It Ends with Us” by Colleen Hoover is a powerful and emotionally charged novel that delves into the
                    complexities of love, resilience, and the cycle of abuse. Through the character of Lily Bloom, the
                    author explores the difficult decisions and inner strength required to break free from an abusive
                    relationship.</p>
            </div>
        </div>
    </section>


    <div class="container">
        <div class="social-section">
            <a href="BOOKpdfs\ITENDSWITHUS.pdf" download-class='download-btnS' button
                class="btn btn-primary social-btn">Download</a>
            <button class="btn btn-success social-btn">Likes</button>
            <button class="btn btn-info social-btn">Share on Social Media</button>
            <button class="btn btn-warning social-btn">Comments</button>
            <!-- like button logics testing -->
            <br>

        </div>
    </div>
{% endblock content %}
